# ======================================
# Python / Django
# ======================================

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables (VERY IMPORTANT)
.env
.env.*
*.env
smartshop_backend/.env

# Virtual Environment
venv/
.venv/
.env
.env.*
*.env

# Migrations cache
*.pot

# ======================================
# Node / React / Vite
# ======================================

# Dependencies
node_modules/

# Production build output
dist/
build/

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================================
# Editor / IDE
# ======================================

# VS Code
.vscode/

# PyCharm
.idea/

# ======================================
# OS Files
# ======================================

.DS_Store
Thumbs.db

# ======================================
# Misc
# ======================================

# Coverage reports
coverage/
htmlcov/

# Temporary files
*.swp
*.bak
*.tmp